@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }
}

@layer components {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/30 shadow-xl;
  }
}
